* {
    margin: 0 auto;
    padding: 0;
}

body {
    /*background-image: url(../Assets/Images/happy-easter.png);*/
    
}

h1 {
    font-family: 'Boogaloo', cursive;
    color: green;
}

p,
ul {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.alternatives {
    width: 90%;
    height: 400px;
}

.col-lg-3 {
   max-width: 500px;
   max-height: 200px;
}

img {
    width: 10rem;
}

img:hover {
    cursor: pointer;
}

.container {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
footer {
    display: block;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: blue;
    color: white;
    margin-top: 170px;
}

.happy-end-background {
    background-image: url("Assets/Images/happy-easter.png");
    background-size: cover;
    background-position: center; 
}

